/* see all boxes */
/* * {
    border: red 2px solid;
} */

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header,
.footer,
.s1 {
    background: #1f2937;
    color: white;
    display: flex;
    padding: 8px 50px;
    align-items: center;
}

.header {
    justify-content: space-between;
}

#title {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    margin: 0 0 0 100px;
}

ul#l1 {
    margin: 0 100px 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 10px;
}

.title2 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.s1{
    padding: 100px 30px;
    justify-content: space-around;
    margin: 0;
    gap: 150px;
}

#tb1 {
    width: 500px;
    height: 200px;
    margin-left: auto;
}

img#kobe {
    height: 250px;
    width: 450px;
    margin-right: auto;
}

button#signup {
    border-radius: 3px;
    background: #3882f6;
    color: white;
    border: none;
    padding: 5px 15px; 
    margin-top: 10px;
}

.title3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    margin: 40px auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

.placeholder {
    border: #3882f6 4px solid;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.text {
    color: grey;
    width: 150px;
    height: 250px;
    text-align: center;
    margin: 0;
}

.s3 {
    background: #e5e7eb;
    padding: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.q {
    width: 800px;
    height: 150px;
}

#quote {
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    font-weight: lighter;
}

#author {
    font-weight: bold;
    font-size: 24px;
    color: #1f2937;
    text-align: end;
}
